 <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Design et &amp; Developpé par <a href="#" target="_blank">ADM</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->