<!--**********************************
            Nav header start
        ***********************************-->
		<div class="nav-header">
            <a href="/" class="brand-logo">
				
				<div class="brand-title">
					<h2 class="">G.Hotel</h2>
					<span class="brand-sub-title">Gestion Hotel</span>
				</div>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->