{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <div class"btn">
        <button class="btn btn-info">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
